<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/template/build.css" />
    <link rel="preload" href="{{pluginResources}}/template/fonts/Bender-Bold.otf" as="font" />
</head>

<body id="body">
    <div id="header">
    </div>
    <div id="info">
        <div class="row">
            <div class="left">
                <div class="data">
                    <span class="max">{{data.tradings.max}}</span><span class="now">{{data.tradings.now}}</span>
                </div>
            </div>
            <div class="right">
                <div class="data">
                    <span class="max">{{data.manufactures.max}}</span><span class="now">{{data.manufactures.now}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <div class="data">
                    <span class="max">{{data.dormitories.max}}</span><span class="now">{{data.dormitories.now}}</span>
                </div>
            </div>
            <div class="right">
                <div class="data">
                    <span class="max">{{data.board.max}}</span><span class="now">{{data.board.now}}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <div class="data">
                    <span class="max">{{data.tiredChars.max}}</span><span class="now">{{data.tiredChars.now}}</span>
                </div>
            </div>
            <div class="right">
                <div class="data">
                    <span class="max">{{data.labor.max}}</span><span class="now">{{data.labor.now}}</span>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
</body>

</html>