<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="./card.css" />
    <link rel="preload" href="./fonts/HYQiHei_75S.otf" as="font" />
</head>

<body id="body">
    <div id="hiredate">入职日&nbsp&nbsp2023-09-06</div>
    <div id="name">Dr.测6666#2624</div>
    <div id="progress">
        {{if all_down == true}}
        <img src="./imgs/finished.png">
        {{else}}
        <div>0-1</div>
        {{/if}}
    </div>
    <div id="furniture">1787</div>
    <div id="hired">328</div>
</body>

</html>