<!doctype html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" type="text/css" href="{{pluginResources}}/template/index.css" />
    <link rel="preload" href="{{pluginResources}}/template/fonts/HYQiHei_75S.otf" as="font" />
</head>

<body id="body">
    <div id="header">
    </div>
    <div id="info">
        <div class="row">
            <div class="left">
                <div class="data">
                    <span class="now">{{data.ap.now}}</span><span class="max">{{data.ap.max}}</span>
                </div>
                <div class="tip">{{data.ap.tip}}</div>
            </div>
            <div class="right">
                <div class="data">
                    <span class="now">{{data.recruit.now}}</span><span class="max">{{data.recruit.max}}</span>
                </div>
                <div class="tip">{{data.recruit.tip}}</div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <div class="data">
                    <span class="now">{{data.hire.now}}</span><span class="max">{{data.hire.max}}</span>
                </div>
                <div class="tip">{{data.hire.tip}}</div>
            </div>
            <div class="right">
                <div class="data">
                    <span class="now">{{data.training.now}}</span><span class="max">{{data.training.max}}</span>
                </div>
                <div class="tip">{{data.training.tip}}</div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <div class="data">
                    <span class="now">{{data.reward.now}}</span><span class="max">{{data.reward.max}}</span>
                </div>
                <div class="tip">{{data.reward.tip}}</div>
            </div>
            <div class="right">
                <div class="data">
                    <span class="now">{{data.daily.now}}</span><span class="max">{{data.daily.max}}</span>
                </div>
                <div class="tip">{{data.daily.tip}}</div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <div class="data">
                    <span class="now">{{data.weekly.now}}</span><span class="max">{{data.weekly.max}}</span>
                </div>
                <div class="tip">{{data.weekly.tip}}</div>
            </div>
            <div class="right">
                <div class="data">
                    <span class="now">{{data.higherItem.now}}</span><span class="max">{{data.higherItem.max}}</span>
                </div>
                <div class="tip">{{data.higherItem.tip}}</div>
            </div>
        </div>
        <div class="row">
            <div class="left">
                <div class="data">
                    <span class="now">{{data.lowerItem.now}}</span><span class="max">{{data.lowerItem.max}}</span>
                </div>
                <div class="tip">{{data.lowerItem.tip}}</div>
            </div>
        </div>
    </div>
    <div id="footer">
    </div>
</body>

</html>