@font-face {
  font-family: "HYQiHei";
  src: url("./fonts/HYQiHei_75S.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

#body {
  width: 1220px;
  height: 2104px;
  background-image: url("./imgs/template.png");
  background-repeat: no-repeat;
}

#header {
  position: relative;
  height: 621px;
  font-family: "HYQiHei";
}

#info {
  height: 1010px;
}

.row {
  height: 277px;
  font-family: "HYQiHei";
}

.row>.left {
  position: absolute;
  width: 440px;
  height: 202px;
  left: 128px;
}

.row>.right {
  position: absolute;
  width: 440px;
  height: 202px;
  left: 653px;
}

.data {
  position: absolute;
  left: 17px;
  top: 76px;
  height: 104px;
  width: 400px;
}

.data>.now {
  position: relative;
  display: inline-block;
  color: #0098dc;
  font-size: 53px;
}

.data>.max {
  position: absolute;
  display: inline-block;
  top: 25%;
  color: #808080;
  font-size: 30px;
}

.tip {
  position: absolute;
  right: 0px;
  bottom: 0px;
  height: 45px;
  width: auto;
  margin: 0px 20px;
  text-align: right;
  font-size: 30px;
  color: #808080;
}
