@font-face {
  font-family: "Akrobat-Bold";
  src: url("./Akrobat-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "tttgbnumber";
  src: url("../../../../resources/font/tttgbnumber.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HYWenHei-55W";
  src: url("../../../../resources/font/HYWenHei-55W.ttf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  /* border:white;
  border-style: solid; */
}

body {
  width: 856px;
  font-size: 12px;
  color: #1e1f20;
  font-family:
    PingFangSC-Medium,
    PingFang SC,
    sans-serif;
  transform: scale(1);
  transform-origin: 0 0;
}

.container {
  width: 856px;
  padding: 0px 45px;
  background-color: #1b1b1b;
  background-image: url(./images/xP.png);
  background-size: cover;
  background-position: right center;
  background-repeat: no-repeat;
}

.head_box {
  height: 262px;
  font-family: tttgbnumber;
  padding: 10px 20px;
  margin: 0px 0px;
  /* position: relative; */
  text-align: center;
}

.head_box .id_text {
  height: 110px;
  width: 540px;
  font-size: 28px;
  color: #fdfdfd;
  font-weight: bold;
  margin: 40px auto 60px auto;
  padding-top: 46px;
  background-image: url(./images/Kf.png);
  background-size: 100% 100%;
}

.logo {
  font-size: 12px;
  font-family: tttgbnumber;
  text-align: center;
  color: #7994a7;
  position: relative;
  text-align: center;
  padding-left: 10px;
}

.head_box {
  background-position-x: 42px;
  background-repeat: no-repeat;
  background-size: auto 101%;
}

.info_box {
  height: 176px;
  width: 368px;
  padding: 0px 33px;
  /* display: table; */
  font-size: 10px;
  overflow: hidden;
  display: inline-block;
}

.info_box .pic {
  font-family: PingFangSC-Medium;
  height: 110px;
  width: 308px;
  background-size: contain;
  background-repeat: no-repeat;
}

.info_box .name {
  color: #ffffff;
  font-size: 20px;
  padding-top: 26px;
  padding-left: 18px;
}

.info_box .value {
  font-weight: bold;
  padding-left: 18px;
  padding-top: 1px;
}

.info_box .value .valueinfo {
  font-size: 32px;
  color: #37b3f0;
}

.info_box .value .valuemax {
  font-size: 18px;
  color: #bdbdbd;
}

.info_box .info {
  color: #787878;
  font-size: 18px;
  text-align: right;
  margin-top: 2px;
}

.notice {
  color: #888;
  font-size: 12px;
  text-align: center;
  padding: 12px 5px 5px;
}